# Income measures

## Setup

In [6]:
import numpy as np
import pandas as pd

import taxcalc as tc
import microdf as mdf

In [7]:
tc.__version__

'2.3.0'

## Load data

Start with a `DataFrame` with `expanded_income` and the variables in `expanded_income` excluded from `tpc_eci`.

In [8]:
df = mdf.calc_df(
    group_vars=[
        "expanded_income",
        "wic_ben",
        "housing_ben",
        "vet_ben",
        "mcare_ben",
        "mcaid_ben",
    ],
    metric_vars=["XTOT"],
)

Calculate `tpc_eci`.

In [9]:
df["tpc_eci"] = mdf.tpc_eci(df)

In [10]:
df.head()

,snap_ben,vet_ben,mcaid_ben,mcare_ben,aftertax_income,e02300,ssi_ben,wic_ben,s006,expanded_income,...,tanf_ben,other_ben,e02400,XTOT,market_income,bens,tax,s006_m,XTOT_m,tpc_eci
RECID,,,,,,,,,,,,,,,,,,,,,
1,0.00000,0.0,0.000000,0.000000,43371.012504,0.0,0.00000,0.0,250.14,53636.919015,...,0.0,0.000000,0.000000,2.0,53636.919015,0.000000,10265.906511,0.000250,0.000500,53636.919015
2,0.00000,0.0,0.000000,0.000000,20937.886511,0.0,0.00000,0.0,211.63,18650.034959,...,0.0,0.000000,0.000000,3.0,18650.034959,0.000000,-2287.851553,0.000212,0.000635,18650.034959
3,1734.12939,0.0,8211.593627,13640.390612,52516.165397,0.0,3374.52239,0.0,323.50,52516.165397,...,0.0,6663.701623,13227.079816,1.0,0.000000,52516.165397,0.000000,0.000324,0.000324,24999.433219
4,0.00000,0.0,8211.593627,0.000000,36857.709188,0.0,0.00000,0.0,186.32,37764.286717,...,0.0,3906.542368,0.000000,2.0,25646.150723,12118.135995,906.577529,0.000186,0.000373,29552.693091
5,0.00000,0.0,0.000000,27280.781223,63941.158283,0.0,0.00000,0.0,343.08,63941.158283,...,0.0,0.000000,35560.553286,2.0,1099.823774,62841.334509,0.000000,0.000343,0.000686,36660.377060